@if (Error)
{
    <div class="alert alert-danger">
        <p><em>@ErrorMessage</em></p>
    </div>
}

@code {
    [Parameter]
    public bool Error { get; set; }

    [Parameter]
    public string ErrorMessage { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(ErrorMessage);
    }
}